<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CauculadoraGym</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div class="introducao">
        <h1>Cauculadora de macronutrientes</h1>
        <h2>Descubra quanto você precisa ingerir diariamente de cada macronutriente</h2>
    </div>
    <div class="informacoes">
        <form action="/resultados" method="post">
            <label for="Kg">Insira seu peso: </label>
            <input type="number" id="peso" name="peso" required>
            <input type="submit" value="Enviar">
        </form>
    </div>
</body>

</html>