<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CauculadoraGym</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1>Resultados</h1>
    <p>Quantidade de água: <%= quantAgua %> ml</p>
    <p>Quantidade de creatina: <%= quantCreatina %> g</p>
    <p>Quantidade de proteína: <%= quantProteina %> g</p>

    <a href="/" class="btn">Voltar para a página inicial</a>
</body>
</html>

<link rel="stylesheet" href="">